body {
  background-color: white;
}

h1 {
  color: saddlebrown;
  text-align: center;
}

h2{
    
    text-align: center
    
}

p {
  font-family: monospace;
  font-size: 20px;
    text-align: left;
}