.container {
  justify-content: center;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

title {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}

body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}

.responsive {
    width: 100%;
    height: auto;
}

#resp_img{
    position: absolute;
    top: 45px;
    right: auto;
    left: 45px;
    width: auto;
    height: 100px;

}


#resp2_img{
    /* .svg - vector files - are responsive!!! */
    display: block;
    vertical-align: middle;
    height: auto;
    max-width: 150px;
    width: 300px;
    border: 0px;
    padding: 25px;
    margin: 5px;
    
}

#resp3_img{
    /* .svg - vector files - are responsive!!! 
    
    Because of the dimensions of this image, I wanted to have more customization in its placement within its container however I am struggling to get any vertical movement. Not sure if you're able to assist with this.'*/
    position: absolute;
    top: 45px;
    right: auto;
    left: 30px;
    width: auto;
    height: 100px;
    
}



/* Font Awesome Icon */

#font_awe{
    font-size: 200px;
}


}